<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<h1 style="background-color:white;color:black">LOGIN HERE</h1>
<form style="background-color:blue;color:aquamarine" action="login" method="post">
    {% csrf_token %}
   <p>
        <label for="user_name">Username</label>
        <input type="text" name="user_name" id="user_name" placeholder="Enter Your UserName" autocomplete="false"  required>
    </p>
    <p>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter Password" required autocomplete="false">
    </p>
    <p>
        <input type="submit">
    </p>
</form>
</body>
</html>